*{
    padding: 0;
    margin: 0;
}

header {
    align-items : center;
    background-color: white;
    position: fixed;
    z-index: 3;
    width: 100%;
    display: block;
    box-shadow: 0px 0px 5px 0px gainsboro
}

.container {
    width: 1200px;
    margin: auto;
}

.header-container {
    height: 60px;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 1200px;
    margin: auto;
}

#logo {
    height: 52px;
}

.search > input {
    width: 800px;
    height: 5px;
    border-radius: 30px;
    border: none;
    background-color: rgb(234, 234, 234);
    padding: 20px;
    margin-top: 3px;
}

.btn-login {
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    width: 80px;
    background-color: #539C68;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
}

main {
    position: relative;
    top: 90px
}

#mainbanner {
    height: 580px;
    background-color: gainsboro;
    position: relative;
}

#main-menu-container{
    padding: 100px;
    display: flex;
    align-items : center;
    justify-content: space-between;
    height: 300px;
    padding-top: 150px;
    padding-bottom: 150px;

}

#main-menu-container > .main-menu {
    border-radius: 100px;
    width: 237px;
    height: 340px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.main-menu-icon {
    margin-top: 50px;
    width: 48px;
}

.line {
    border: solid black 0.5pt;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.menu-text {
    font-size: 12pt;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 5pt;
}

.imgwrap {
    vertical-align: middle;
    width: 1200px;
    height: 580px;
    overflow: hidden;
    position: relative;
}

.mainImg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.blackBox {
    background-color: rgb(0,0,0,0.3);
    width: 1200px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


footer {
    text-align: center;
    background-color: black;
    padding: 60px;
}

footer > img {
    height: 20px;
}
